        <div class="ui center aligned segment">
            <p>Created By Theran Brigowatz</p>
            <a href="http://github.com/theranbrig"><i class="github large icon"></i></a>
            <a href="http://twitter.com/theranbrig"><i class="twitter large icon"></i></a>
            <a href="http://facebook.com/Brigowatz"><i class="facebook large icon"></i></a>
        </div>
    </body>
</html>

