<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Beer Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed blue inverted menu">
            <div class="ui container">
                <div class="header item"><i class="bar large icon"></i>Beer Me!</div>
                <a href="/beers" class="item">Beers</a>
                <a href="/beers/new" class="item">New Beer</a>
            </div>
        </div>

    

